<div>
  {% if product.metafields.custom.original_retail_price != blank %}
    <div>(Retail Price: {{ product.metafields.custom.original_retail_price.value | money }})</div>
  {% endif %}
  {% if product.metafields.custom.scent_intensity != blank %}
    <div class="flex items-center gap-[5px]">
      Fragrance intensity:
      <span class="text-highlight leading-4">Strong</span>
      {% assign intensity = product.metafields.custom.scent_intensity.value | times: 1 %}
      <div class="flex gap-[5px] items-center justify-center ml-1">
        {% for i in (1..3) %}
          <div class="w-[8px] h-[8px] rounded-full {% if i <= intensity %}bg-black{% else %}bg-gray-300{% endif %} !inline-block"></div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

{% assign selling_points = product.metafields.custom.selling_points.value %}
{% if selling_points %}
  <ul id="atc_scroll_target" class="list-none pl-0">
    {% for point in selling_points %}
      <li>{{ point }}</li>
    {% endfor %}
  </ul>
{% endif %}
